:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #95ddf5;
}

.expense-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  margin-block: 50px;
}

.expense-container h2 {
  justify-self: center;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px 0 rgb(183, 172, 172);
  border-radius: 10px;
  margin-block: 10px;
}

.expense-item:hover {
  box-shadow: 0 0 5px 0 rgb(183, 172, 172);
}

.expense-item.income {
  border-right: 5px solid rgb(6, 126, 6);
}

.expense-item.expense {
  border-right: 5px solid rgb(250, 0, 0);
}

.expense-item.income .expense-amount {
  color: rgb(6, 126, 6);
}

.expense-item.expense .expense-amount {
  color: rgb(250, 0, 0);
}

.expense-item button {
  padding: 7px;
}

.expense-form {
  padding: 10px;
  padding-top: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
}

.expense-form h4 {
  color: rgb(255, 0, 0);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 13px;
  border-radius: 5px;
  border: none;
  background-color: #6466f1;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.balance-container {
  padding: 15px 5px;
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  background-color: #797bf5;
  border-radius: 10px;
  justify-content: space-around;
}


.currency-item {
  flex: 1 1 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #9091f5;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  min-width: 120px;
  text-align: center;
}


.currency-item .title {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.currency-item .amount {
  font-size: 24px;
  color: rgb(8, 217, 8);
  font-weight: bold;
}

.currency-item .amount.expense {
  color: rgb(236, 31, 31);
}

.currency-item .amount.balance {
  color: #fff;
}

.item-but-overlay {
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.expense-item:hover .item-but-overlay {
  opacity: 1;
  transform: translateX(0);
}
.cancel{
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
.cancel-edit {
  width: 20%;
  background-color: #f44336;
  color: white;
}
.his-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.his-filter button {
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  height: 0%;
  border: none;
  background-color: #6466f1;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 600px) {
  .balance-container {
    flex-direction: column;
    align-items: center;
  }

  .currency-item {
    width: 80%;
  }
}
